body{
    background-color: #FFDE59;
}
img{
    max-width: 100%;
}
.espacio-arriba{
    margin-top: 100px;
}
.espacio-arribam{
    margin-top: 50px;
}
.espacio-izquierda{
    margin-left: 50px;
}
.pacifico{
    font-family: 'Pacifico', cursive;
}
.nunito{
    font-family: 'Nunito Sans', sans-serif;
}
.grande{
    font-size: 5em;
}
.grandem{
    font-size: 4em;
}
.media{
    font-size: 2em;
}
.form{
    padding: 50px 20px;
    background-color: #ededed;
    margin: calc(25% + 100px);
    margin-top: 70px;
    padding-top: 28px;
}
.input{
    width: calc(100% - 20px);
    padding: 9px;
    margin: auto;
    margin-top: 12px;
    font-size: 16px;
}
.input[type='submit']{
    background-color: #FFDE59;
    color: #fff;
    width: calc(80% - 20px);
    margin: 0 10%;
    margin-top: 22px;
    border: none;
}
.ok{
    text-align: center;
    width: 100%;
    padding: 12px;
    background-color: #4e8;
    color: #fff;
}
.bad{
    text-align: center;
    width: 100%;
    padding: 12px;
    background-color: #a22;
    color: #fff;
}